<html class="user webkit mac-chrome nottouch narrow-feed-wrapper islands-v2 sendgiftrdsn no-status wed-exp child-exp gftwdgtrdsn right-pymk-round allinclusive-exp pymk152" prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/" lang="ru">
    <head>
        <!-- META START -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>8 непрочитанных чатов</title>
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
        <meta name="referrer" content="origin">
        <meta name="viewport" content="width=1024">
        <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
        <!-- META END -->
        
        <link href="//st.mycdn.me/res/css/prod/core/ncore.7d83ed46.css" type="text/css" rel="stylesheet" id="lightCoreCss">
        <link href="//st.mycdn.me/res/css/prod/main/nmain.f0293bc1.css" type="text/css" rel="stylesheet" id="lightMainCss">
        <link href="//st.mycdn.me/res/css/prod/main/nmain_postponed.83bfccff.css" type="text/css" rel="stylesheet">
        <link href="//st.mycdn.me/res/css/prod/core/ncore_postponed.59b3c501.css" type="text/css" rel="stylesheet">

        <!--<link href="http://127.0.0.1:8088/res/css/prod/core/ncore.css" type="text/css" rel="stylesheet" id="lightCoreCss">-->
        <!--<link href="http://127.0.0.1:8088/res/css/prod/main/nmain.css" type="text/css" rel="stylesheet" id="lightMainCss">-->
        <!--<link href="http://127.0.0.1:8088/res/css/prod/main/nmain_postponed.css" type="text/css" rel="stylesheet">-->
        <!--<link href="http://127.0.0.1:8088/res/css/prod/core/ncore_postponed.css" type="text/css" rel="stylesheet">-->

        <script src="res/js/require-2.1.11.js"></script>
        <script src="res/js/script.js"></script>
        <script src="res/js/h-mod.js" defer="defer"></script>
    </head>
    <body data-cdn="true" style="">
        <div id="hook_Block_BodySwitcher" class="hookBlock">
            <%- partial("_partials/_toolbar"); %>
            <%# partial("_partials/_theme-style"); %>
            <div id="hook_Block_MainContainer" class="hookBlock">
                <div id="mainContainer">
                    <%# partial("_partials/_theme-layout"); %>
                    <div class="ft-push">
                        <%# partial("_partials/_fourth-column"); %>
                        <%# partial("_partials/_css-rules"); %>
                        <div class="mainContent_w">
                            <div id="hook_Block_MainContent" class="hookBlock">
                                <div id="mainContent" class="narrow-feed mainContentSingleColumn gm-cl-aft">
                                    <div id="mainContentContentColumn">
                                        <div id="hook_Block_ContentColumnContainer" class="hookBlock">
                                            <div id="hook_Block_MiddleColumn" class="hookBlock">
                                                <div id="middleColumn">
                                                    <div id="hook_Block_PhotoWall" class="hookBlock">
                                                        <div data-l="t,photowall" class="photo-wall">
                                                            <div id="hook_Block_PhotoWallNavigation" class="hookBlock"><div class="filter __standalone"><a href="/topphoto" data-post="gwt.scrl=false" class="filter_i" hrefattrs="st.cmd=photoWall&amp;st.category=SHOWCASE">Фото участников</a><a href="/topphoto/top" data-post="gwt.scrl=false" class="filter_i __active" hrefattrs="st.cmd=photoWall&amp;st.category=TOP">Лидируют сейчас</a><a href="/topphoto/results" data-post="gwt.scrl=false" class="filter_i" hrefattrs="st.cmd=photoWall&amp;st.category=RESULTS">Победители</a><div class="filter_ac"><div id="hook_Block_PhotoWallNavCounters" class="hookBlock"><div class="photo-wall-nav-counters"><div class="photo-wall-nav-counters_i"><span class="tico "><i class="tico_img ic ic_wait"></i></span></div><div class="photo-wall-nav-counters_i"><a data-l="t,navParticipate" href="/dk?st.cmd=photoWall&amp;st.category=TOP&amp;cmd=PopLayer&amp;st.layer.cmd=PopLayerChoosePhotoWallPhoto" class="button-pro __small">Принять участие</a></div></div></div></div></div></div>
                                                            <div id="hook_Block_PhotoWallTop" class="hookBlock">
                                                                <div class="portlet" id="listBlockPanelPhotoWallTop" data-l="t,top">
                                                                    <div class="portlet_b">
                                                                        <div class="h-mod" data-module="DiscoveryGrid" data-loader-class="loader-container" data-column-class="photo-wall-grid_column" data-new-items-class="photo-wall-card __new" data-new-mod-class="__new" data-redesign="true" data-static-layout1="true" data-frame-offset="2">
                                                                            <div class="ugrid __l">
                                                                                <div data-delimiter="4" data-max="20" data-forcedbottomedge="800" data-block="PhotoWallTop" data-params="st.cid=24" data-dynamic="" data-page="1" data-updateparams="false" class="loader-container" data-url="/dk?st.cmd=photoWall&amp;st.category=TOP&amp;cmd=PhotoWallTop" data-module="Loader" data-last-element="00046bfe58f1e1eb040c" data-manualpagescount="40" data-tsd="true" data-aroots="true">
                                                                                    <div class="ugrid_cnt">
                                                                                        <div class="photo-wall-grid_column"></div>
                                                                                        <div class="photo-wall-grid_column"></div>
                                                                                        <div class="photo-wall-grid_column"></div>
                                                                                        <%- yield %>
                                                                                    </div>
                                                                                    <div class="loader-controls loader-controls-bottom"><div class="link-show-more_loading"><span class="fetching-hor"><span class="fetching-hor_i"></span>загрузка</span></div><a id="nohook_539344681" class="js-show-more link-show-more" data-show-more="link-show-more" href="#">Показать ещё</a></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%# partial("_partials/_scroll-arrow"); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>