<div class="photo-wall-card __new">
    <div class="photo-wall-card_hld">
        <a href="#222" class="photo-wall-card_cnt">
            <img src="<%= card.imgSrc %>" width="<%= card.imgWidth %>" class="photo-wall-card_img" height="<%= card.imgHeight %>">
            <div class="photo-wall-card_badge"><div class="photo-wall-bubble"><%= card.place %></div></div>
        </a>
    </div>
    <div class="photo-wall-card_ac">
        <div class="photo-wall-card_ac-info">
            <div class="photo-wall-card_ac-line">
                <div class="ellip-i">
                    <a class="o" href="#333"><%= card.userName %></a>
                </div>
            </div>
            <div class="photo-wall-card_ac-line ellip"><%= card.userInfo %></div>
        </div>
        <div class="photo-wall-card_ac-widget">
            <div class="hookBlock">
                <div class="widget __l __photowall  __compact __no-o">
                    <span class="widget_cnt">
                        <span class="widget_ico ic_heart"></span><span><%= card.like %></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>