<div id="hook_Block_ThemeInlineCssStyleRB" class="hookBlock">
    <style type="text/css" media="screen">.user #mainContainer {background-image: url(//sp.mycdn.me/getTheme?photoId=399&type=52&v=1);} .cover_t_l,.cover_t_r,.cover_ov_t_l,.cover_ov_t_r,.cover_ov_t_c,.cover_t_c_repeat_l,.cover_t_c_repeat_r {background-image: none;}</style>
</div>