<div class="cover">
    <div class="cover_t_c cover_t_c_repeat_w">
        <div class="cover_t_c_repeat">
            <div id="hook_Block_ThemeTopCenterImageRB" class="hookBlock">
                <div data-inject="1"></div>
                <img class="cover_t_c_img" src="//sp.mycdn.me/getTheme?photoId=399&amp;type=62&amp;v=1" alt="">
            </div>
            <div class="cover_t_c_repeat_l"></div>
            <div class="cover_t_c_repeat_r"></div>
        </div>
    </div>
    <div class="cover_cnt">
        <div class="cover_hld">
            <div class="cover_t_l"></div>
            <div class="cover_t_r"></div>
            <div class="cover_ov_t_c"></div>
            <div class="cover_ov_t_l"></div>
            <div class="cover_ov_t_r"></div>
        </div>
    </div>
</div>